#center {
  display: flex;
  flex-direction: column;
  justify-content: center; /* mais simples que place-content */
  align-items: center;
  gap: 25px;
  height: 100vh;
  text-align: center;
}

.input-group {
  display: flex;
  gap: 10px;
}

input {
  padding: 10px 15px;
  border-radius: 25px;
  border: 2px solid var(--accent-border);
  outline: none;
  width: 250px;
}

button {
  padding: 8px 14px;
  border-radius: 20px;
  border: none;
  background-color: var(--accent);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: var(--accent-border);
}

.lista {
  list-style: none;
  padding: 10;
  margin-top: 20px;
  width: 300px;
}

.lista li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border: 2px solid var(--accent-bg);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
}

.counter {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  margin-bottom: 20px;
  transition: 0.3s;
}

.counter:hover {
  border-color: var(--accent-border);
}

.counter:focus-visible {
  outline: 2px solid var(--accent);
  outline-offset: 2px;
}